html
  head
    title Example Title
  body
    main
      h1 sub
      h1= sub
      h1 sort
      h2= sort
      h3= response
      p.alert Here's a body of text with the class 'alert'
      .action divs are so common that you can just write the class!